allow kernel self:capability chown;
allow kernel untrusted_app_tmpfs:file { write };
allow tee vfat:file { read getattr open };
allow ueventd vfat:file { read open getattr };
allow kernel audioserver:process setsched;
allow kernel mediaserver:process setsched;
allow kernel platform_app:process setsched;
allow kernel priv_app:process setsched;
allow kernel radio:process setsched;
allow kernel system_app:process setsched;
allow kernel system_server:process setsched;
allow kernel zygote:process setsched;
